Prep_Fram
core.*
EnKF
EnKF_*
TMP
*.swp
*.swo
*.org
*dev*
*.log
*test*
*~
Prep_Routines/chk_obs
Prep_Routines/prep_obs
Tools/consistency
Tools/checkice
Tools/checkice_en
Tools/fixhycom
Tools/fixhycom_eco
Tools/obsstats
Tools/oldtonewobs
Tools_eco/consistency
Tools_eco/checkice
Tools_eco/checkice_en
Tools_eco/fixhycom
Tools_eco/fixhycom_eco
Tools_eco/obsstats
Tools_eco/oldtonewobs